.main {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 30px 150px;
    font-size: 0;
    overflow: hidden;
}

@media(max-width: 1200px) {
    .main {
        padding: 30px 50px;
    }
}

@media(max-width: 450px) {
    .main {
        padding: 30px 10px;
    }
}